<div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-6 col-7">
            <ngb-breadcrumb [links]="breadcrumbLinks"></ngb-breadcrumb>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <ngb-link title="Novo" className="btn btn-secondary float-right" iconName="plus" id="cadastrar"
              routerLink="cadastrar" > </ngb-link>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--6">
    <div class="card mb-4">
      
    </div>
  </div>
  