<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Cadastro de Usuário</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="produto">Nome</label>  
      <div class="col-md-4">
      <input id="produto" name="produto" type="text" placeholder="Digite seu lindo nome" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="descricao">Login</label>  
      <div class="col-md-4">
      <input id="descricao" name="descricao" type="text" placeholder="Digite seu login" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="senha">Senha</label>
      <div class="col-md-4">
        <input id="senha" name="senha" type="password" placeholder="Digite uma senha segura" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="salvar"></label>
      <div class="col-md-8">
        <button id="salvar" name="salvar" class="btn btn-primary">Salvar</button>
        <button id="limpar" name="limpar" class="btn btn-danger">Limpar</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    